<div class="container">
  <div style="padding: 5px">
      <button mat-raised-button	(click)="createEmployee()">Crear</button>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.email}}</td>
        <td>
          <button mat-raised-button (click)="editDialog(employee)">Edit</button>
          <button mat-raised-button (click)="delete(employee)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
