
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>
    <span class="example-spacer"></span>
    <a mat-flat-button routerLink=".">Employee</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
