<h1 mat-dialog-title>Employee</h1>
<div mat-dialog-content>
  
  <div class="row" >
    <div class="col-md-12">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Nombre" [(ngModel)]="employee.name" >
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Apellido" [(ngModel)]="employee.last_name" >
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Email" [(ngModel)]="employee.email" >
      </mat-form-field>
    </div>
  </div>
  
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close >Cancel</button>
  <button mat-button mat-dialog-close (click)="saveEmployee()">Save</button>
</div>